@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  /* user-select: none; */
  outline: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F5F7FA;
  color: #333;
}

.custom-div {
  max-height: calc(100vh - 80px);
}

p {
  user-select:text;
}