.dropdownbtns {
    padding-left: 1rem;
    padding-right: 1rem ;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin: 2px;
    border-radius: 8px;
}
.dropdownbtns:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(220 220 220 / var(--tw-bg-opacity)) /* #f3f4f6 */;

}